<div class="title">
	<div class="inner"> Welcome to Votesec.io </div>
</div>
<div class="container">
	<div class="dummy2"></div>
	<table id="table" class="w3-table-all w3-hoverable">
		<thead>
			<tr class="w3-light-grey">
				<th>Election Symbol</th>
				<th>Party Name</th>
				<th>Candidate Name</th>
				<th>VOTE</th>
			</tr>
		</thead>

	</table>
	<div class="dummy">
	</div>
</div>
<div id="button">
	<div class="checkmark draw"></div>
</div>
<div class="loader">
	<div class="message">Please get your Aadhaar QR and Fingerprint scanned
	</div>
	<div class="qr">
		<span class="msg">QR Scan Status- </span>
		<div id="QRcircle-loader" class="circle-loader">
			<div id="QRcheckmark" class="checkmark draw"></div>
		</div>
	</div>
	<div class="finger">
		<span class="msg">Fingerprint Scan Status- </span>
		<div id="FINGERcircle-loader" class="circle-loader">
			<div id="FINGERcheckmark" class="checkmark draw"></div>
		</div>
	</div>
	<div class="verify">
		<span class="msg">Verification Status- </span>
		<div id="VERIFYcircle-loader" class="circle-loader">
			<div id="VERIFYcheckmark" class="checkmark draw"></div>
		</div>
	</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
	var socket = io()
	socket.on('candidatelist', function (list) {
		console.log("Candidate List - ")
		console.log(list)
		document.getElementById('table').style.visibility = 'visible'
		//var table = document.getElementById('tbody')
		table = document.createElement('tbody')
		table.id = 'tbody'
		document.getElementById('table').appendChild(table)
		list.forEach(function (ele) {
			let tr = document.createElement("tr")
			table.appendChild(tr)

			let td = document.createElement("td")
			let img = document.createElement("img")
			img.src = ele.link
			img.height = 50;
			img.width = 50;
			td.appendChild(img)
			tr.appendChild(td)

			td = document.createElement("td")
			td.innerHTML = ele.party + "<br>" + ele.party_local
			tr.appendChild(td)

			td = document.createElement("td");
			td.innerHTML = ele.name + "<br>" + ele.name_local
			tr.appendChild(td)

			td = document.createElement("td");
			let radio = document.createElement("input")
			radio.type = "radio"
			radio.name = "cid"
			radio.value = ele.id
			td.appendChild(radio)
			tr.appendChild(td)
			tr.addEventListener("click", function () {
				radio.checked = true
			})
		})
		document.getElementsByClassName('inner')[0].style.borderBottom = 'none'
		document.getElementById('button').style.visibility = 'visible'
	})
	socket.on('verifailed', function () {
		console.log("Verification failed")
		setTimeout(function () {
			console.log('timeout')
			/*	var child = table.lastElementChild;
				while (child) {
					table.removeChild(child);
					child = table.lastElementChild;
				}*/
			table.innerHTML = ''
			$('#FINGERcircle-loader').toggleClass('load-complete');
			$('#FINGERcheckmark').toggle();
			$('#QRcircle-loader').toggleClass('load-complete');
			$('#QRcheckmark').toggle();
			$('#VERIFYcircle-loader').toggleClass('load-complete');
			$('#VERIFYcheckmark').toggle();
		}, 100)
	})
	socket.on('qr', function (aadhaar) {
		console.log(aadhaar.name)
		$('#QRcircle-loader').toggleClass('load-complete');
		$('#QRcheckmark').toggle();
	})
	socket.on('error', function (msg) {
		console.log(msg)
	})
	socket.on('fingerprint', function () {
		console.log("fingerprint aaya")
		$('#FINGERcircle-loader').toggleClass('load-complete');
		$('#FINGERcheckmark').toggle();
	})
	socket.on('verified', function () {
		console.log("VERIFIED")
		$('#VERIFYcircle-loader').toggleClass('load-complete');
		$('#VERIFYcheckmark').toggle();
	})
	var button = document.getElementById('button')
	button.addEventListener('click', function () {
		let voteid = document.querySelector('input[name="cid"]:checked').value
		if (typeof voteid != 'undefined') {
			button.style.visibility = 'hidden'
			console.log(voteid)
			socket.emit('vote', document.querySelector('input[name="cid"]:checked').value)
		}
		else {
			window.alert('Please select an option')
		}
	})
	socket.on('votereturn', function (msg) {
		setTimeout(function () {
			console.log('timeout')
			/*	var child = table.lastElementChild;
				while (child) {
					table.removeChild(child);
					child = table.lastElementChild;
				}*/
			table.innerHTML = ''
			$('#FINGERcircle-loader').toggleClass('load-complete');
			$('#FINGERcheckmark').toggle();
			$('#QRcircle-loader').toggleClass('load-complete');
			$('#QRcheckmark').toggle();
			$('#VERIFYcircle-loader').toggleClass('load-complete');
			$('#VERIFYcheckmark').toggle();
		}, 100)
		window.alert(msg)
	})
	socket.on('disconnect', function () {
		document.body.innerHTML = "Server Disconnected, Refresh page"
	})
</script>